#car {
    font-family: Arial;
}

#body {
    position: absolute;
    top: 50px;
    width: 80%;
    height: 100px;
    background-color: #000000;
    text-align: center;
}

#backwheel {
    position: absolute;
    left: 10%;
    top: 130px;
    background-color: #d12323;
    border: 3px solid rgb(176, 207, 0);
    border-radius: 35%;
    width: 40px;
    height: 40px;
}

#frontwheel {
    position: absolute;
    left: 55%;
    top: 130px;
    background-color: #ee1414;
    border: 3px solid rgb(249, 253, 8);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}